print - input

In [9]:
print("안녕하세요")

안녕하세요

In [10]:
print('''동해물과 백두산이
마르고 닳도록
...''')

동해물과 백두산이
마르고 닳도록
...

In [12]:
print( input('당신의 이름은 : ') )

당신의 이름은 : 홍길동
홍길동

In [21]:
input('당신의 이름은 : ')  # 사용자의 입력을 받는 명령어
print('반갑습니다')  #  print 는 화면에 출력하는 기능

당신의 이름은 : 121212

TypeError: 'str' object is not callable

변수 (값을 저장하는 이름표)

In [4]:
# 변수명 = 값
# 변수명은 숫자로 시작할수 없고 공백이 있으면 안되고 예약어는 불가
# print = '이것은 프린트'  # 예약어는 불가 --> 문법적으로 막지 않음 ㅠ.ㅠ

In [5]:
name = '안녕하세요'
print(name)
name = 1004
name

안녕하세요

1004

In [6]:
name2 = name + 100
name2

1104

In [7]:
name = '안녕하세요'
name3 = name + 100 #
name3

TypeError: can only concatenate str (not "int") to str

In [8]:
name = '안녕하세요'
name3 = name + '100' #
name3

'안녕하세요100'

In [17]:
name  = '홍길동'
age = 30
# 출력은... 안녕하세요 000님 반갑습니다. 나이가 00 이시군요  --> 문장을 만들어서 변수에 저장하고 출력
result = '안녕하세요 ' + name + '님 반갑습니다 나이가 ' + str(age) + ' 이시군요'
print('*'*100)
print(result)

****************************************************************************************************
안녕하세요 홍길동님 반갑습니다 나이가 30 이시군요

In [18]:
name  = input('이름을 입력하세요')
age = input('나이를 입력하세요')
# 출력은... 안녕하세요 000님 반갑습니다. 나이가 00 이시군요  --> 문장을 만들어서 변수에 저장하고 출력
result = '안녕하세요 ' + name + '님 반갑습니다 나이가 ' + str(age) + ' 이시군요'
print('*'*100)
print(result)

이름을 입력하세요강감찬
나이를 입력하세요70
****************************************************************************************************
안녕하세요 강감찬님 반갑습니다 나이가 70 이시군요

In [21]:
# 문자형 숫자를  정수로 변환 -->  int('20')
num1 = input('첫번째 정수를 입력하세요 ')
num2 = input('두번째 정수를 입력하세요 ')

result = int(num1)  + int(num2)  # 정수로 변환
print(result)
print('두 정수의 합은 : ' + str(result) )  # 문자열 + 정수  --> 문자열 + 문자열

첫번째 정수를 입력하세요 10
두번째 정수를 입력하세요 20
30
두 정수의 합은 : 30

bool 형은 **참(True)과 거짓(False)**을 표현하는 논리형 데이터

In [22]:
is_adult = True
is_success = True
is_pass = True

In [24]:
temp = 10 > 100
print(temp)

False

In [ ]:
# 변수에 저장할수있는 데이터 : 문자, 숫자(정수,실수), bool

In [26]:
# 정리
# 명령어 또는 함수 : print, input, str, int
# 변수정의, 만드는방법(할당), 사용하는 방법(새로운변수에 할당, 변수간 연산)
# f-string

In [27]:
# 복잡한 형태의 문자열 만들기  -  f-string

In [32]:
name = "철수"
age = 20
result = f"{name}는 {age}살입니다."

print(f"'{name}'과 '{age}'의 결과는 '{result}' 입니다")

'철수'과 '20'의 결과는 '철수는 20살입니다.' 입니다

In [33]:
name = input("당신의 이름은 ? ")
age = input("나이는 몇 살인가요 ? ")
addr = input("주소를 입력하세요 ? ")

print(f"안녕하세요! 저는 {name}이고, 나이는 {age}살입니다.지역은 {addr} 입니다.")

당신의 이름은 ? 홍길동
나이는 몇 살인가요 ? 33
주소를 입력하세요 ? 서울시 강남구
안녕하세요! 저는 홍길동이고, 나이는 33살입니다.지역은 서울시 강남구 입니다.