print - input

In [9]:
print("안녕하세요")

안녕하세요

In [10]:
print('''동해물과 백두산이
마르고 닳도록
...''')

동해물과 백두산이
마르고 닳도록
...

In [12]:
print( input('당신의 이름은 : ') )

당신의 이름은 : 홍길동
홍길동

In [21]:
input('당신의 이름은 : ')  # 사용자의 입력을 받는 명령어
print('반갑습니다')  #  print 는 화면에 출력하는 기능

당신의 이름은 : 121212

TypeError: 'str' object is not callable

변수 (값을 저장하는 이름표)

In [4]:
# 변수명 = 값
# 변수명은 숫자로 시작할수 없고 공백이 있으면 안되고 예약어는 불가
# print = '이것은 프린트'  # 예약어는 불가 --> 문법적으로 막지 않음 ㅠ.ㅠ

In [5]:
name = '안녕하세요'
print(name)
name = 1004
name

안녕하세요

1004

In [6]:
name2 = name + 100
name2

1104

In [7]:
name = '안녕하세요'
name3 = name + 100 #
name3

TypeError: can only concatenate str (not "int") to str

In [8]:
name = '안녕하세요'
name3 = name + '100' #
name3

'안녕하세요100'

In [17]:
name  = '홍길동'
age = 30
# 출력은... 안녕하세요 000님 반갑습니다. 나이가 00 이시군요  --> 문장을 만들어서 변수에 저장하고 출력
result = '안녕하세요 ' + name + '님 반갑습니다 나이가 ' + str(age) + ' 이시군요'
print('*'*100)
print(result)

****************************************************************************************************
안녕하세요 홍길동님 반갑습니다 나이가 30 이시군요

In [18]:
name  = input('이름을 입력하세요')
age = input('나이를 입력하세요')
# 출력은... 안녕하세요 000님 반갑습니다. 나이가 00 이시군요  --> 문장을 만들어서 변수에 저장하고 출력
result = '안녕하세요 ' + name + '님 반갑습니다 나이가 ' + str(age) + ' 이시군요'
print('*'*100)
print(result)

이름을 입력하세요강감찬
나이를 입력하세요70
****************************************************************************************************
안녕하세요 강감찬님 반갑습니다 나이가 70 이시군요

In [21]:
# 문자형 숫자를  정수로 변환 -->  int('20')
num1 = input('첫번째 정수를 입력하세요 ')
num2 = input('두번째 정수를 입력하세요 ')

result = int(num1)  + int(num2)  # 정수로 변환
print(result)
print('두 정수의 합은 : ' + str(result) )  # 문자열 + 정수  --> 문자열 + 문자열

첫번째 정수를 입력하세요 10
두번째 정수를 입력하세요 20
30
두 정수의 합은 : 30

bool 형은 **참(True)과 거짓(False)**을 표현하는 논리형 데이터

In [22]:
is_adult = True
is_success = True
is_pass = True

In [24]:
temp = 10 > 100
print(temp)

False

In [ ]:
# 변수에 저장할수있는 데이터 : 문자, 숫자(정수,실수), bool

In [26]:
# 정리
# 명령어 또는 함수 : print, input, str, int
# 변수정의, 만드는방법(할당), 사용하는 방법(새로운변수에 할당, 변수간 연산)
# f-string

In [27]:
# 복잡한 형태의 문자열 만들기  -  f-string

In [32]:
name = "철수"
age = 20
result = f"{name}는 {age}살입니다."

print(f"'{name}'과 '{age}'의 결과는 '{result}' 입니다")

'철수'과 '20'의 결과는 '철수는 20살입니다.' 입니다

In [33]:
name = input("당신의 이름은 ? ")
age = input("나이는 몇 살인가요 ? ")
addr = input("주소를 입력하세요 ? ")

print(f"안녕하세요! 저는 {name}이고, 나이는 {age}살입니다.지역은 {addr} 입니다.")

당신의 이름은 ? 홍길동
나이는 몇 살인가요 ? 33
주소를 입력하세요 ? 서울시 강남구
안녕하세요! 저는 홍길동이고, 나이는 33살입니다.지역은 서울시 강남구 입니다.

✅ 1. 리스트 (List)

📘 이론:
여러 개의 값을 순서대로 저장하는 자료형.

값 수정/삭제가 가능함 (mutable).

대괄호 [] 사용.

In [ ]:
my_list = [10, 20, 30, 40]

💡 주요 특징:
인덱스(index)로 접근: my_list[0] → 10

수정 가능: my_list[1] = 99

다양한 자료형 섞어서 저장 가능: [1, "hello", True]

In [36]:
# 학생변수를   student라 하고 국,영,수의 점수를 리스트로 저장
# 국어 90  영어 90 수학 100
student =  [90, 90, 100]

In [38]:
# 수학점수를 95점으로 변경
student[2] = 95

In [39]:
student

[90, 90, 95]

In [44]:
# 학생은 평균점수, 이름, 나이를 가지고 있다
student1 = [94,'홍길동', 25 ]
student2 = [90,'이순신', 22 ]
student3 = [97,'철이', 21 ]
students = [student1, student2, student3]
# students 변수를 이용해서 '이순신'의 나이를 출력
students[1][2]

22

In [49]:
students = [
  [[91,92,93],'홍길동', 25 ]  ,
  [[81,82,83],'이순신', 22 ] ,
  [[95,96,97],'철이', 21 ]
  ]

# 83에 접근해서 100으로 바꾸면
students[1][0][2] = 100

In [50]:
students

[[[91, 92, 93], '홍길동', 25],
 [[81, 82, 100], '이순신', 22],
 [[95, 96, 97], '철이', 21]]

In [ ]:
# 리스트 만들기
fruits = ["apple", "banana", "cherry"]
# 요소 추가
fruits.append("orange")
# 요소 접근
print(fruits[1])  # banana
# 요소 변경
fruits[0] = "grape"
# 요소 삭제
del fruits[2]
print(fruits)  # ['grape', 'banana', 'orange']

In [51]:
# 비어있는 리스트를 만들고
# appned를 이용해서 데이터를 추가하고
# del 을 이용해서 삭제하고
# 인덱스로 원하는 위치의 값을 출력하고, 변경하고

In [64]:
temp = ['이순신']
temp.append( 10  )
print(temp)
temp.append('홍길동')
print(temp)
temp.append(True)
print(temp)
temp.append( [1,2,3,4,5]  )
print(temp)
# 홍길동을 이순신으로 교체
temp[1] = '이순신'
print(temp)
# True 항목을 삭제
del temp[2]  # 위치로 삭제
print(temp)
temp.remove('이순신')  # 처음 검색된 항목만 삭제  -> 값으로 삭제
print(temp)

['이순신', 10]
['이순신', 10, '홍길동']
['이순신', 10, '홍길동', True]
['이순신', 10, '홍길동', True, [1, 2, 3, 4, 5]]
['이순신', '이순신', '홍길동', True, [1, 2, 3, 4, 5]]
['이순신', '이순신', True, [1, 2, 3, 4, 5]]
['이순신', True, [1, 2, 3, 4, 5]]

In [65]:
# 리스트는 + 연산 제공  : 리스트 + 리스트
temp1 = [1,2,3]
temp2 =  [10,20,30]
temp3 = temp1 + temp2
print(temp3)

[1, 2, 3, 10, 20, 30]

In [67]:
# 리스트는 * 연산 제공   리스트 * 정수
temp4 = temp1 * 3
print(temp4)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

✅ 2. 튜플 (Tuple)

📘 이론:
리스트와 비슷하지만, 수정이 불가능한 자료형 (immutable).

소괄호 () 사용.

💡 주요 특징:

읽기 전용 데이터 저장에 적합.

요소를 변경하거나 삭제할 수 없음.

my_tuple[0] 처럼 인덱스로 접근 가능.

학생 정보 및 성적 관리 (초간단 학사관리)

✅ 1단계: 학생 한 명의 정보 저장

✅ 2단계: 학생의 과목별 성적 저장 (리스트)

✅ 3단계: 하나의 튜플로 학생 전체 정보 묶기

In [68]:
# 학생 한 명의 정보 저장 - student
# 평균점수, 이름, 나이, 주소 -->  입력을 받아서
score = int(input('평균점수를 입력하세요 : '))
name = input('이름을 입력하세요 : ')
age = int(input('나이를 입력하세요 : '))
addr = input('주소를 입력하세요 : ')
student1 = [score, name ,age, addr]
print(f'입력하신 정보는 {student1}  입니다. ')

평균점수를 입력하세요 : 95
이름을 입력하세요 : 홍길동
나이를 입력하세요 : 25
주소를 입력하세요 : 서울시 강남구
입력하신 정보는 [95, '홍길동', 25, '서울시 강남구']  입니다.

In [73]:
# 학생의 정보중에 평균점수를 읽어서 90점 이상이면 패스 그렇지 않으면 실패 기록하는
# is_pass 변수를 만들어서 값을 넣어보세요
is_pass = student1[0] >= 90

In [74]:
# is_pass를 학생 리스트에 추가
student1.append(is_pass)
student1

[95, '홍길동', 25, '서울시 강남구', True]

In [75]:
# student2 만들고.. 이 학생들(student1 , student2)을  students 변수에 리스트로 저장