튜플

In [ ]:
# 튜플 (Tuple)
# 튜플은 여러 값을 순서대로 저장할 수 있는 자료구조입니다.
# 리스트와 비슷하지만, 한 번 생성되면 내용을 변경할 수 없다는 차이점이 있습니다.
# 튜플은 소괄호 ()를 사용하여 정의합니다.

# 1. 튜플 생성하기
my_tuple = (1, 2, 3, 'apple', 'banana')
print(my_tuple)
# 출력: (1, 2, 3, 'apple', 'banana')

# 2. 빈 튜플 생성하기
empty_tuple = ()
print(empty_tuple)
# 출력: ()

# 3. 하나의 요소를 가진 튜플 생성하기 (쉼표가 중요합니다!)
single_element_tuple = (1,)
print(single_element_tuple)
# 출력: (1,)

# 쉼표가 없으면 그냥 정수 1로 인식됩니다.
not_a_tuple = (1)
print(not_a_tuple)
# 출력: 1

# 4. 튜플의 요소에 접근하기 (인덱싱)
# 리스트와 마찬가지로 인덱스를 사용하여 요소에 접근할 수 있습니다.
# 인덱스는 0부터 시작합니다.
print(my_tuple[0])
# 출력: 1
print(my_tuple[3])
# 출력: apple

# 5. 튜플의 요소에 접근하기 (슬라이싱)
# 슬라이싱을 사용하여 튜플의 일부분을 가져올 수 있습니다.
print(my_tuple[1:4])
# 출력: (2, 3, 'apple')

# 6. 튜플은 변경 불가능 (Immutable)
# 튜플의 요소를 변경하려고 하면 오류가 발생합니다.
# 다음 코드는 오류를 발생시키므로 주석 처리합니다.
# my_tuple[0] = 10
# print(my_tuple)

# 7. 튜플 길이 확인하기
print(len(my_tuple))
# 출력: 5

# 8. 튜플 연결하기 (새로운 튜플 생성)
another_tuple = (6, 7, 8)
combined_tuple = my_tuple + another_tuple
print(combined_tuple)
# 출력: (1, 2, 3, 'apple', 'banana', 6, 7, 8)

# 9. 튜플 반복하기
repeated_tuple = my_tuple * 2
print(repeated_tuple)
# 출력: (1, 2, 3, 'apple', 'banana', 1, 2, 3, 'apple', 'banana')

# 10. 튜플 언팩킹 (Tuple Unpacking)
# 튜플의 요소를 여러 변수에 할당할 수 있습니다.
a, b, c, d, e = my_tuple
print(a)
# 출력: 1
print(e)
# 출력: banana

# 11. 튜플 내 요소 존재 확인
print('apple' in my_tuple)
# 출력: True
print('grape' in my_tuple)
# 출력: False

# 튜플은 주로 데이터의 순서가 중요하고 변경될 필요가 없는 경우에 사용됩니다.
# 예를 들어, 함수의 반환 값으로 여러 값을 묶어서 반환하거나,
# 변경 불가능한 데이터 구조가 필요할 때 유용합니다.

In [10]:
# 셈플로 튜플데이터 만들기, 최초 만든 데이터는 변형불가능 - Read Only
# 원본데이터를 보호
sample = (1, 2, 3, 4, 5, 3, 3, 3)
sample2 = [1, 2, 3, 4, 5]
print(sample.count(3))
print(sample.index(3))

4
2

In [14]:
# 언패킹
sample = (1, 2, 3, 4, 5)
a, b, c, d, e = sample
print(a, b, c, d, e)

1 2 3 4 5

In [16]:
#  [국,영,수], 이름, 나이 를 가지고 있는 학생리스트 만들기
student = [  [90,95,97],'홍길동', 25   ]
# unpacking
score, name, age = student
kor, eng, math = score

print(kor, eng, math, name, age)

90 95 97 홍길동 25

In [18]:
# 슬라이싱
sample = (1, 2, 3, 4, 5,6,7,8,9,10)
train = sample[ : 8]
test = sample[ 8: ]
print(train)
print(test)

(1, 2, 3, 4, 5, 6, 7, 8)
(9, 10)

In [19]:
# 음수 인덱스
sample = (1, 2, 3, 4, 5,6,7,8,9,10)
print(sample[-1])
print(sample[-3])
# 앞에서 2개만 출력
print(sample[ : 2])
# 뒤에서 2개만 출력
print(sample[-2 : ])

10
8
(1, 2)
(9, 10)

In [25]:
sample = list(range(999999))

In [30]:
sample[1000:1010]

[1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009]

In [33]:
sample = list(range(10))

In [39]:
# startindex : endindex : step
sample[  :  : 3]

[0, 3, 6, 9]

In [42]:
sample[ : : -1]  # 뒤집기 역순 출력

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [43]:
sample[ : : -2]

[9, 7, 5, 3, 1]

Python에서 딕셔너리(Dictionary)는 key-value 쌍으로

데이터를 저장하는 자료구조입니다. 순서가 중요하지 않으며,

key를 통해 value에 빠르게 접근할 수 있습니다. 다음은

딕셔너리의 정의와 사용법에 대한 설명입니다.

In [44]:
# 딕셔너리 생성하기 (Creating a Dictionary)
score1 = {'kor': 95, 'eng': 90, 'math': 93}
score2 = {'eng': 90, 'math': 93, 'kor': 95}
print(score)

{'apple': 1, 'banana': 2, 'cherry': 3}

In [ ]:
# 비어있는 dic을 만들때는
empty_dict = {}
empty_dict = dict()  #함수표현

# 비어있는 튜플
empty_tuple = ()
empty_tuple = tuple() #함수표현

# 비어있는 리스트
empty_list = []
empty_list = list() #함수표현

In [46]:
my_dict = {'apple': 1, 'banana': 2, 'cherry': 3}
# 값에 접근 및 변경
my_dict['apple'] = 100
print(my_dict)

{'apple': 100, 'banana': 2, 'cherry': 3}

In [50]:
my_dict['grap'] = 100
print(my_dict)

{'apple': 100, 'banana': 2, 'cherry': 3, 'grap': 100}

In [52]:
my_dict['orange'] = 300
print(my_dict)

{'apple': 100, 'banana': 2, 'cherry': 3, 'grap': 100, 'orange': 300}

In [60]:
# get() 메서드를 사용하면 key가 존재하지 않을 경우 오류 대신 None을 반환하거나 기본값을 지정할 수 있습니다.
my_dict.get('orange',-1)

300

In [61]:
# 삭제
del my_dict['orange']
print(my_dict)

{'apple': 100, 'banana': 2, 'cherry': 3, 'grap': 100}

In [62]:
my_dict.keys()

dict_keys(['apple', 'banana', 'cherry', 'grap'])

In [63]:
my_dict.values()

dict_values([100, 2, 3, 100])

In [64]:
my_dict.items()

dict_items([('apple', 100), ('banana', 2), ('cherry', 3), ('grap', 100)])

In [67]:
my_dict.pop('apple')

KeyError: 'apple'

In [68]:
my_dict

{'banana': 2, 'cherry': 3, 'grap': 100}

In [69]:
banana = 100

In [70]:
my_dict

{'banana': 2, 'cherry': 3, 'grap': 100}

In [71]:
my_dict.clear()

In [73]:
print(my_dict)

{}

In [76]:
scores = {'kor':90, 'eng':92, 'math':88}
'kor' in scores   # scores의 키값중에 'kor' 이 있는지 물어본다

False

In [77]:
5 / 3  # 몫은 1 나머지는 2

1.6666666666666667

In [78]:
5 // 3   # 몫

1

In [79]:
5 % 3 # 나머지

2

In [81]:
# 제곱근
5**2

25

In [82]:
# 논리연산
# 파이썬의 논리 연산자는 주로 불리언 값(True 또는 False)과 함께 사용되어 조건문의 결과를 결정하거나 여러 조건을 결합할 때 사용됩니다. 주요 논리 연산자는 다음과 같습니다.

# and: 두 조건이 모두 True일 때 True를 반환합니다.
# or: 두 조건 중 하나라도 True일 때 True를 반환합니다.
# not: 조건의 결과를 반전시킵니다. (True는 False로, False는 True로)
# 변수 설정
x = 10
y = 5
z = 15

# 1. and 연산자 예시
print(f"x > 5 and y < 10: {x > 5 and y < 10}")  # True and True -> True
print(f"x > 12 and y < 10: {x > 12 and y < 10}") # False and True -> False

# 2. or 연산자 예시
print(f"x > 12 or y < 10: {x > 12 or y < 10}")  # False or True -> True
print(f"x > 12 or y > 10: {x > 12 or y > 10}")  # False or False -> False

# 3. not 연산자 예시
print(f"not (x > 12): {not (x > 12)}")  # not False -> True
print(f"not (y < 10): {not (y < 10)}")  # not True -> False

# 여러 논리 연산자 함께 사용
print(f"(x > 5 and y < 10) or z > 20: {(x > 5 and y < 10) or z > 20}") # (True) or (False) -> True
print(f"not (x > 12 or y > 10): {not (x > 12 or y > 10)}") # not (False) -> True

x > 5 and y < 10: True
x > 12 and y < 10: False
x > 12 or y < 10: True
x > 12 or y > 10: False
not (x > 12): True
not (y < 10): False
(x > 5 and y < 10) or z > 20: True
not (x > 12 or y > 10): True

In [90]:
# and는 모든조건이 True 여만 하고
# or 는 한개이상만  True 이면  된다

False

In [91]:
#  a  =  b  # 대입연산자
#  a  ==  b  # 같다
#  a  !=  b  # 같지않다
#  a  >=  b
#  a  >  b
#  a  <=  b
#  a  <  b

In [102]:
# 조건문
# if ~ else
print('담배와 술을 주세요')
print('미성년자는 안돼요 혹시 몇살이세요?')
age = int(input('제 나이는 :'))
if age > 19:
  print('네 술과 담배가 있습니다. ')
  print('감사합니다. ')
  print('안녕히 가세요')

print('또 오세요.')

담배와 술을 주세요
미성년자는 안돼요 혹시 몇살이세요?
제 나이는 :35
네 술과 담배가 있습니다.
감사합니다.
안녕히 가세요
또 오세요.

In [108]:
score = int(input('점수를 입력하세요'))
# 60점 이상이면 합격
if score >= 60:
  print('합격입니다.')

if score < 60:
  print('불합격입니다.')

점수를 입력하세요50
불합격입니다.

In [109]:
score = int(input('점수를 입력하세요'))
# 60점 이상이면 합격
if score >= 60:
  print('합격입니다.')
else:
  print('불합격입니다.')

점수를 입력하세요50
불합격입니다.

In [ ]:
# A 90~ 100
# B 80 ~ 89
# C 70 ~ 79
score = int(input('점수를 입력하세요'))
if score >= 90:
  print('A')
else:
  if score >=80:  # 80,81 ~~ 89
    print('B')
  else:  # 79이하인 범위
    if score >= 70: # 70 ~79
      print('C')
    else:  # 69 이하인 범위
      print('D')

In [ ]:
# A 90~ 100
# B 80 ~ 89
# C 70 ~ 79
score = int(input('점수를 입력하세요'))
if score >= 90:
  print('A')
elif score >=80:  # 80,81 ~~ 89
  print('B')
elif score >= 70: # 70 ~79
  print('C')
else:  # 69 이하인 범위
  print('D')